<div style="position:relative; top:15px;">
	<h1>Get Food</h1>
	<span style="position:relative; bottom:10px;">To get food, check out some of the upcoming events! </span>
	<p>(1-10) of 10 <!--<a href="#" style="padding-left:15px;">Local</a> | <a href="#">All</a>--></p>
</div>

<!-- Nov 28 
	===============================================================-->

<hr>
<center><h4>Wednesday, November 20</h4></center></br>
<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="/assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="/events/show" class="link"><u style="font-size:22px;">Meals With Feels</u></a> (9am to 6pm)
			<span style=""> 
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			501 Westbrook St. San Fransisco, CA 94132</br>
			Tel: 415-123-3333 <span style="padding-left:10px; ">Email: info@mealwithfeels.org</span></br>
			<p><b>Happy Thanksgiving!</b><br>
				On November 28, We are opening our doors to
				the needy! Stop by to taste our slop stew, smashed...
			</p>

		</p>
	</div>
</div></br>

<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="/assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="/events/show" class="link"><u style="font-size:22px;">Meals With Feels</u></a> (9am to 6pm) 
			<span style=""> 
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			501 Westbrook St. San Fransisco, CA 94132</br>
			Tel: 415-123-3333 <span style="padding-left:10px; ">Email: info@mealwithfeels.org</span></br>
			<p><b>Happy Thanksgiving!</b><br>
				On November 28, We are opening our doors to
				the needy! Stop by to taste our slop stew, smashed...
			</p>

		</p>
	</div>
</div></br>

<!-- Dec 24
	===============================================================-->

<hr>
<center><h4>Tuesday, December 4</h4></center></br>
<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="/assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="/events/show" class="link"><u style="font-size:22px;">Meals With Feels</u></a> (9am to 6pm) 
			<span style=""> 
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			501 Westbrook St. San Fransisco, CA 94132</br>
			Tel: 415-123-3333 <span style="padding-left:10px; ">Email: info@mealwithfeels.org</span></br>
			<p><b>Merry Christmas!</b><br>
				Oh? back again? I knew you couldn't
			resist! On Dec, 25th we will have pig farts and horse hooves. And you can
			wash it all down with a glass of putrid ginger ale.
			</p>

		</p>
	</div>
</div></br>

<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="/assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="/events/show" class="link"><u style="font-size:22px;">Meals With Feels</u></a> (9am to 6pm) 
			<span style=""> 
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			501 Westbrook St. San Fransisco, CA 94132</br>
			Tel: 415-123-3333 <span style="padding-left:10px; ">Email: info@mealwithfeels.org</span></br>
			<p><b>Merry Christmas!</b><br>
				Oh? back again? I knew you couldn't
			resist! On Dec, 25th we will have pig farts and horse hooves. And you can
			wash it all down with a glass of putrid ginger ale.
			</p>
		</p>
	</div>
</div></br>

<!-- pagination
	===============================================================-->

<div class="text-center">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	  <li class=""><a href="#">2 </a></li>
	  <li class=""><a href="#">3 </a></li>
	  <li class=""><a href="#">&raquo;</a></li>
	</ul>
</div>
