<h1> About us</h1>
<p> Welcome and thanks for visiting! This website is a project by students at San Francisco State University.<br>
	The idea behind this website is that we wanted suppliers who have extra food to be donated instead of being<br>
	thrown out. Then distributors can find a way to obtain those donations, set up events and deliver food to people.</p>
	Thank you!<br><br>

	Sincerely, <b>Suchi Vora</b>, <b>Pavitra Kansara</b>, <b>Joe Robinson</b> and <b>Marco Chin</b>