<h1> About us</h1>
<p> Welcome and thanks for visiting! This website is a project by students of John Robert's CSC667 Class of <br>
	San Francisco State University. The idea behind this website is that we wanted suppliers who have extra food to <br>
	be donated instead of being thrown out. Then distributors can find a way to obtain those donations, set up events<br>
	and deliver food to people.
	Thank you!</p>

	Sincerely, <b>Suchi Vora</b>, <b>Pavitra Kansara</b>, <b>Joe Robinson</b> and <b>Marco Chin</b><br><br>
	Pictures courtesy of: <a href="http://www.safeway.com">Safeway</a>