<div style="position:relative; top:15px;">
	<h1>List of Donations</h1> 
	<p>(1-10) of 10 <a href="#" style="padding-left:15px;">Local</a> | <a href="#">All</a></p>
</div>

<!-- Nov 28 
	===============================================================-->

<hr>
<center><h4>Wednesday, November 20</h4></center></br>
<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="pages/donationposts" class="link"><u style="font-size:22px;">La Framosco French Cuisine</u></a> 
			<span style="padding-left:10px;">
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			634 Curry St. San Fransisco, CA 94123</br>
			Tel: 415-123-3334 <span style="padding-left:10px;">Email: info@laframosco.com</span></br>

			<p><b>200 pounds of bacon need to be gone! pick-up between 8pm-9pm</b><br>
				We ordered a surplus of bacon! 200 pounds to be exact. Meat company will not take returns
				so please...
			</p>
		</p>
	</div>
</div></br>

<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="pages/donationposts" class="link"><u style="font-size:22px;">La Framosco French Cuisine</u></a> 
			<span style="padding-left:10px;">
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			634 Curry St. San Fransisco, CA 94123</br>
			Tel: 415-123-3334 <span style="padding-left:10px;">Email: info@laframosco.com</span></br>

			<p><b>200 pounds of bacon need to be gone! pick-up between 8pm-9pm</b><br>
				We ordered a surplus of bacon! 200 pounds to be exact. Meat company will not take returns
				so please...
			</p>
		</p>
	</div>
</div></br>

<!-- Dec 24
	===============================================================-->

<hr>
<center><h4>Tuesday, December 4</h4></center></br>
<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="pages/donationposts" class="link"><u style="font-size:22px;">La Framosco French Cuisine</u></a> 
			<span style="padding-left:10px;">
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			634 Curry St. San Fransisco, CA 94123</br>
			Tel: 415-123-3334 <span style="padding-left:10px;">Email: info@laframosco.com</span></br>

			<p><b>200 pounds of bacon need to be gone again! pick-up between 8pm-9pm</b><br>
				We ordered a surplus of bacon again! 200 pounds to be exact. Meat company will not take returns
				so please...
			</p>
		</p>
	</div>
</div></br>

<div class="container">
	<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">
		<img src="assets/example.jpg" alt="golden gate bridge">
	</a>
	<div class="col-md-6">
		<p>
			<a href="pages/donationposts" class="link"><u style="font-size:22px;">La Framosco French Cuisine</u></a> 
			<span style="padding-left:10px;">
				<a href="#">Directions</a> |
				<a href="#">Flag for Abuse</a></br>
			</span>
			634 Curry St. San Fransisco, CA 94123</br>
			Tel: 415-123-3334 <span style="padding-left:10px;">Email: info@laframosco.com</span></br>

			<p><b>200 pounds of bacon need to be gone again! pick-up between 8pm-9pm</b><br>
				We ordered a surplus of bacon again! 200 pounds to be exact. Meat company will not take returns
				so please...
			</p>
		</p>
	</div>
</div></br>

<!-- pagination
	===============================================================-->

<div class="text-center">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	  <li class=""><a href="#">2 </a></li>
	  <li class=""><a href="#">3 </a></li>
	  <li class=""><a href="#">&raquo;</a></li>
	</ul>
</div>
