<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#byebyenav">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">The Compost Bin</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="byebyenav">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Events</a></li>
	      <li><a href="#">Donate Food</a></li>
	      <li><a href="#">About Us</a></li>
	    </ul>

	    <form class="navbar-form navbar-left" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search Events...">
	      </div>
	      <button type="submit" class="btn btn-default">Go!</button>
	    </form>

	    <div class="nav navbar-nav navbar-right">
	      <a href="signup.php" class="btn btn-info" style="position:relative; top:7px;">Sign Up!</a>
	      <a href="login.php" class="btn btn-success" style="position:relative; top:7px;">Login</a>
	    </div>
	  </div><!-- /.navbar-collapse -->
	</div>
</nav>

<div id="content" class="container realign"></div>
