<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/apple.jpg" alt="apple">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="/assets/bread.jpg" alt="bread">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="/assets/wine.jpg" alt="wine">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row container"> <!--orients your text inline-->
	<center>
			<div class="col-md-6 well">
				<h2>Are you a supplier?</h2>
				<p>If you are an organization (for example: restaurant, supermarket, or farm) that would like to donate food,
					please login and click "Donate Food."</p>
				<a href="/donations/new" class="btn btn-primary btn-lg link">Donate Food</a>
			</div>

			<div class="col-md-6 well">
				<h2>Are you a distributor?</h2>
				<p>To contact suppliers and pickup donations, click "List of Donations." To post your upcoming events to distrbute food, click "Post Event."</p>
				<a href="/donations/donationlist" class="btn btn-primary btn-lg link">List of Donations</a>
				<a href="/events/postevent" class="btn btn-primary btn-lg link">Post Event</a>
			</div>
	</center>
</div>
