<div style="position:relative; top:15px;">
	<h1>List of Donations</h1> 
	<p>(1-10) of 10 <!--<a href="#" style="padding-left:15px;">Local</a> | <a href="#">All</a>--></p>
</div>
<br>

<div id="result"></div>

<!-- pagination
	===============================================================-->

<div class="text-center">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	  <li class=""><a href="#">2 </a></li>
	  <li class=""><a href="#">3 </a></li>
	  <li class=""><a href="#">&raquo;</a></li>
	</ul>
</div>

<script>
	$.get( "/donations/create", function( data ) {
	  for(var i = data.length-1; i>=0; i--){
	  	var str = '';

	  	if(i == data.length-1 || data[i].dayofweek!==data[i+1].dayofweek || data[i].month!==data[i+1].month //determines if you need a hr line w/date
	  		|| data[i].day!==data[i+1].day){
	  			str+='<hr><center><h4>' + data[i].dayofweek + ', ' +  data[i].month + ' ' + data[i].day + '</h4></center></br>';
	  	}

	  	str+= '<div class="container">';
		str+=	'<a href="#" class="thumbnail col-md-2" data-toggle="modal" data-target="#picture">';
		str+=		'<img src="/assets/example.jpg" alt="golden gate bridge">';
		str+=	'</a>';
		str+=	'<div class="col-md-6">';
		str+=		'<p>';
		str+=			'<a href="/donations/donationposts/' + data[i].id + '" class="link"><u style="font-size:22px;">La Framosco French Cuisine</u></a>'; 
		str+=			'<span style="padding-left:10px;">';
		str+=				'<a href="#">Directions</a> </br>';
		//str+=				'<a href="#"> | Flag for Abuse</a></br>'; no more admin function, so useless
		str+=			'</span>';
		str+=			'634 Curry St. San Fransisco, CA 94123</br>';
		str+=			'Tel: 415-123-3334 <span style="padding-left:10px;">Email: info@laframosco.com</span></br>';

		str+=			'<p><b>' + data[i].title +'</b><br>';
		str+=				data[i].message.substring(0,200);
		str+=			'</p>';
		str+=		'</p>';
		str+=	'</div>';
		str+='</div></br>';

	  	document.getElementById('result').innerHTML+=str; //adds entire string to div with id 'result'
	  }
	  //alert(data[0].title);
	});

</script>
