<div style="position:relative; top:15px;">
	<h1>Donation Posting</h1></br>
</div>

<div class="container">
	<div class="col-md-4">
		<a href="#" class="thumbnail" data-toggle="modal" data-target="#picture">
			<img src="assets/example.jpg" alt="golden gate bridge">
		</a>
		<a href="#" class="thumbnail col-md-4" data-toggle="modal" data-target="#picture">
			<img src="assets/example.jpg" alt="golden gate bridge">
		</a>
		<a href="#" class="thumbnail col-md-4" data-toggle="modal" data-target="#picture">
			<img src="assets/example.jpg" alt="golden gate bridge">
		</a>
		<a href="#" class="thumbnail col-md-4" data-toggle="modal" data-target="#picture">
			<img src="assets/example.jpg" alt="golden gate bridge">
		</a>
	</div>

	<div class="col-md-5">
		<p>
			<span><u style="font-size:22px;">Meals With Feels</u></span> (9am to 6pm) 
			<a href="#">Directions</a> |
			<a href="#">Flag for Abuse</a></br>
			501 Westbrook St. San Fransisco, CA 94132</br>
			Tel: 415-123-3333 <span style="padding-left:10px; ">Email: info@mealwithfeels.org</span></br></br> 
			<p><b>200 pounds of bacon need to be gone! pick-up between 8pm-9pm</b><br>
				We ordered a surplus of bacon! 200 pounds to be exact. Meat company will not take returns
				so please give us a call or else your precious bacon is going in the compost!
			</p>
		</p>
	</div>
</div>