<div class="container" style="position:relative; top:15px;">
	<h1>Create Profile</h1></br>
</div>

<link rel="stylesheet" href="//css/style.css" />

<div class="containersDiv">
    <section class="register">
      <h1>Create Profile</h1>
      <form  action="#">
      <div class="reg_section personal_info">
      <h3>Profile Information</h3>
      <input type="text" class="form-control" placeholder="Username">
      <textarea class="form-control" rows="3" placeholder="Address"></textarea>
      <input type="text" class="form-control" placeholder="Contact number">
      <input type="text" class="form-control" placeholder="E-mail Address">
	  <br/>	
      <h3>Login Information</h3>
      <input type="text" class="form-control" placeholder="Username">
      <input type="password" class="form-control" placeholder="Password">
      <input type="password" class="form-control" placeholder="Confirm Password">
      <input type="text" class="form-control" name="captcha">
      <br/>
      <p class="terms">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
           I accept  <a href="http://www.google.com/"></a>Terms & Condition
        </label>
      </p>
      <p class="submit"><button type="button" class="btn btn-primary">Create</button></p>
      </div>
      </form>
    </section>
</div>

